.about-main {
  overflow: hidden;

  & section {
    margin-bottom: var(--size-base-12);
  }
}

.tldr {
  margin-bottom: var(--size-base-4);
}

.about-skill-chart {
  position: relative;

  & h5 {
    margin-bottom: var(--size-base-4);
  }

  & .wrapper {
    overflow: hidden;

    & .bars {
      display: flex;
      flex-direction: column;
      gap: var(--size-base-1);

      & .bar-label {
        padding: var(--size-base-2);
        border-radius: var(--size-border-radius-2);
        background: var(--chart-bar);
        color: var(--chart-label);
        display: inline-block;
      }
    }
  }

  & .keys {
    display: flex;
    justify-content: space-between;
    margin-top: var(--size-base-4);

    & .key {
      position: relative;
      color: var(--chart-meter);
      padding-left: var(--size-base-4);

      &:before {
        content: "";
        display: block;
        width: 1px;
        height: 1000px;
        position: absolute;
        bottom: 0;
        border-left: 1px dashed var(--chart-meter);
        left: 0;
      }
    }
  }
}

.about-timline {
  font-size: var(--size-base-5);
  line-height: var(--typography-line-height-body);

  & table {
    width: 100%;
    margin-bottom: var(--size-base-4);
    border: 1px solid var(--component-border);
    border-collapse: collapse;
    border-radius: var(--size-border-radius-2);

    & th,
    & td {
      padding: var(--size-base-4);
      border: 1px solid var(--component-border);
    }

    & th {
      font-family: "DM Serif Text", serif;
      font-weight: 700;
      width: 200px;
      vertical-align: top;
      text-align: right;
      background: var(--component-background-secondary);
      font-size: var(--size-font-h-4);
    }
  }
}

.skill-block {
  h5 {
    margin: var(--size-base-4) 0;
  }
}

.about-skill-keywords {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-base-2);

  & .keyword {
    padding: var(--size-base-2) var(--size-base-4);
    border-radius: var(--size-border-radius-pill);
    background: var(--chart-bar);
    color: var(--chart-label);
    display: inline-block;
    white-space: nowrap;
  }
}

.interests {
  background: var(--grays-slate-12);
  color: var(--grays-slate-1);
  padding: var(--size-base-8);
  border-radius: var(--size-border-radius-3);

  & article {
    display: flex;
    gap: var(--size-base-8);
    flex-direction: row;

    & .image {
      flex: 0 0 auto;
      width: 300px;

      & img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  & .about-timline {
    & table {
      border: none;

      & tbody {
        display: flex;
        flex-direction: column;
        gap: var(--size-base-4);

        & tr {
          display: flex;
          flex-direction: column;
          & th,
          & td {
            flex: 0 0 auto;
          }
          & th {
            text-align: center;
          }
        }
      }
    }
  }

  .interests {
    & article {
      flex-wrap: wrap;
      gap: 0;

      & .image {
        width: 100%;
        border-radius: var(--size-border-radius-3);
        margin-bottom: var(--size-base-4);

        & img {
          width: 100%;
        }
      }
    }
  }
}
