@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Gloock:wght@400&display=swap");
@import "./settings.css";
@layer ao {
  body {
    background: var(--color-base);
    color: var(--color-text-color);
    font-size: var(--text-md);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }

  h1,
  h2,
  h3,
  h4,
  .logo {
    font-family: var(--font-serif);
    margin: 1.5rem 0;
  }

  .logo {
    margin: 0;
  }

  h1 {
    font-size: var(--text-7xl);
    line-height: var(--tw-leading, var(--text-7xl--line-height));
  }

  h2 {
    font-size: var(--text-6xl);
    line-height: var(--tw-leading, var(--text-6xl--line-height));
  }
  h3 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }
  h4 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }
  h5 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  p {
    font-size: inherit;
    line-height: 40px;

    & a {
      color: var(--color-primary);
      text-decoration: underline;
    }
  }

  ul,
  ol {
    list-style: disc;
    font-family: inherit;
    font-size: inherit;
    line-height: var(--tw-leading, var(--text-xl--line-height));
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding-left: 2rem;
  }

  blockquote {
    padding: 3rem;
    margin: 2rem 0;
    background: var(--color-base-secondary);
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    border-radius: 8px;
    & p {
      margin: 0;
      font-size: inherit;
      line-height: inherit;
    }
  }

  pre {
    padding: 1rem;
    margin: 2rem 0;
    font-family: var(--font-mono);
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
    background: rgba(255, 218, 3, 0.1);
    border-radius: 0.5rem;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;

    & code {
      font-size: inherit;
      line-height: inherit;
      background: transparent;
      padding: 0;
      margin: 0;
      color: var(--color-text-color);
    }
  }

  code {
    background: var(--color-text-color);
    color: var(--color-base-secondary);
  }

  hr {
    border: 1px solid var(--color-base-secondary);
    margin: 2rem 0;
  }

  main {
    margin: 0 auto;
    max-width: 1280px;
    padding: 1rem;
  }

  .welcome-container {
    background-size: 100%;
    width: 100%;
    position: relative;

    & .welcome {
      font-size: var(--text-9xl);
      line-height: 9rem;
      z-index: 5;
      margin: 24px auto;
      text-align: center;
      position: relative;
    }
  }

  .content-container {
    &:nth-child(odd) {
      & .content-block {
        flex-direction: row-reverse;
      }
    }

    & .image {
      border-radius: 10px;
      overflow: hidden;
      height: min-content;
      /* rgba(200, 199, 193, 1) */
      box-shadow: 0 50px 70px -10px rgba(112, 111, 108, 0.5);
      & img {
        width: 100%;
      }
    }
  }

  .ao-md-content-container {
    font-size: var(--text-2xl);
    line-height: 40px;

    & h1,
    & h2,
    & h3,
    & h4,
    & h5 {
      margin-bottom: 1.5rem;
    }

    & p,
    & ul {
      margin-bottom: 2rem;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    & a {
      color: var(--color-primary);
      text-decoration: underline;
    }

    blockquote {
      & p {
        margin: 0;
      }
    }
  }
}

/* MD */
@media (max-width: 48rem) {
  h1 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }

  h2 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }
  h3 {
    font-size: var(--text-5xl);
    line-height: var(--tw-leading, var(--text-5xl--line-height));
  }
  h4 {
    font-size: var(--text-4xl);
    line-height: var(--tw-leading, var(--text-4xl--line-height));
  }
  h5 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  .welcome-section {
    height: 50vh;
  }

  .welcome-container {
    background: none;
    position: relative;

    & .welcome {
      font-size: var(--text-7xl);
      z-index: 5;
      margin: 24px auto;
      text-align: left;
      position: relative;
    }
  }

  .content-container,
  .welcome-keywords {
    display: none;
  }

  header.ao,
  footer.ao {
    gap: 1rem;
  }
}
