.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--size-base-8);
  flex-wrap: wrap;

  & .logo {
    width: 100px;

    & svg {
      width: 100%;
    }
  }

  & .nav {
    display: flex;
    align-items: center;
    gap: var(--size-base-6);

    & a:not(.contact-email) {
      color: var(--text-tertiary);
      font-weight: var(--font-weight-medium);
      text-decoration: none;
      transition: color 0.3s;

      &:global(.active) {
        color: var(--color-primary);
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  & .contact-email {
    border: 3px solid var(--color-primary);
    color: var(--color-primary);
    border-radius: var(--size-border-radius-pill);
    padding: var(--size-base-2) var(--size-base-4);
    font-weight: var(--font-weight-bold);
  }
}

.logo-link {
  text-decoration: none;

  & .logo-title {
    display: flex;
    align-items: center;
    gap: var(--size-base-4);

    & span.name {
      color: var(--color-primary);
      font-size: var(--size-font-h-3);
      font-family: "DM Serif Text", serif;
      font-weight: 400;
    }
  }
}
