@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.greeting {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0;
  color: var(--text-secondary);
}

.dot-animate-pulse {
  --color-main: var(--colors-blue-9);
  --color-pulse: var(--colors-blue-9);

  display: inline-block;
  border-radius: var(--size-border-radius-pill);
  width: var(--size-base-3);
  height: var(--size-base-3);
  background: var(--color-main);

  &:after {
    content: "";
    display: block;
    width: var(--size-base-8);
    height: var(--size-base-8);
    position: relative;
    top: -0.6375rem;
    left: -0.6375rem;
    border-radius: var(--size-border-radius-pill);
    background: var(--color-pulse);
    animation: pulse 1.5s infinite;
  }
}

.work-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-base-2);

  & .work-block {
    border-radius: var(--size-border-radius-3);
    border: 1px solid var(--component-border);
    overflow: hidden;
    cursor: pointer;
  }

  & .work-thumbnail {
    height: 300px;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }

  & .work-card {
    background: var(--color-background);
    padding: var(--size-base-3);

    cursor: pointer;
    overflow: hidden;
    & p {
      margin: 0;
      color: var(--text-secondary);
    }

    & h5 {
      margin: 0;
      font-weight: normal;
      color: var(--text-primary);
    }
  }
}
