@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.greeting {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0;
  color: var(--text-secondary);
}

.dot-animate-pulse {
  --color-main: var(--colors-blue-9);
  --color-pulse: var(--colors-blue-9);

  display: inline-block;
  border-radius: var(--size-border-radius-pill);
  width: var(--size-base-3);
  height: var(--size-base-3);
  background: var(--color-main);

  &:after {
    content: "";
    display: block;
    width: var(--size-base-8);
    height: var(--size-base-8);
    position: relative;
    top: -0.6375rem;
    left: -0.6375rem;
    border-radius: var(--size-border-radius-pill);
    background: var(--color-pulse);
    animation: pulse 1.5s infinite;
  }
}

.work-section {
  display: flex;
  flex-wrap: wrap;

  & .work-block {
    width: 50%;
  }

  & .work-card {
    padding: var(--size-base-8);
    margin: var(--size-base-2);
    height: 200px;
    border: 1px dashed var(--component-border);
    border-radius: var(--size-border-radius-3);
    cursor: not-allowed;
    & h4 {
      margin: 0;
      font-weight: normal;
      color: var(--color-placeholder);
    }
  }
}
