@import "tailwindcss";
@import "ao-design-tokens";

@theme {
  --color-primary: var(--amber-9);
  --color-text-color: var(--gray-12);
  --color-base: var(--gray-3);
  --color-base-secondary: var(--gray-7);
  --color-base-tertiary: var(--gray-5);
  --color-tag: var(--color-base-secondary);
  --color-tag-label: var(--gray-12);
  --color-tag-label-hover: var(--amber-1);
  --color-tag-primary: var(--color-primary);
  --font-sans: "Geist", sans-serif;
  --font-serif: "Gloock", serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}
