@import "tailwindcss";

@theme {
  --color-primary: #ffda03;
  --color-text-color: #ffffff;
  --color-base: #171718;
  --color-base-secondary: #48484c;
  --color-tag: #fff;
  --color-tag-label: var(--color-base);
  --color-tag-primary: var(--color-primary);

  --font-sans: "Geist", sans-serif;
  --font-serif: "Gloock", serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
