.shorts-main {
  & ul {
    list-style: none;
    padding: 0;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    font-size: 1.3rem;
    line-height: 1.7;

    & li {
      border-left: 1px solid var(--slate-4);
      border-radius: 3px;

      padding: 1rem;
      display: flex;
      flex-direction: column;
      & time {
        font-size: 1rem;
        color: var(--slate-9);
        line-height: 1.7;
      }
      & p {
        margin: 0;
      }
    }
  }
}

.blog-main {
  & .hero {
    & img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .shorts-main ul {
    grid-template-columns: 1fr;
  }
}
