.work-main {
  & .collection {
    display: flex;
    gap: var(--size-base-4);
    flex-wrap: wrap;

    & .item {
      flex: 1 1 auto;
      padding: var(--size-base-4);
      border: 1px solid red;
    }
  }
}
